body {
 background-image: url(./components/bg.gif); 
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
